<!DOCTYPE html>
<html>
<head>
<!-- Imporing bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Importing my own styles -->
	<style type="text/css">
		
		div
		{
			/*Arriba, no sé, no sé, derecha */
			width: 30%;
			margin: 10% 30%;
			background: #B5B2ED;

		}

		.btn
		{

			margin: 2rem 7rem;
			font-size: 20px;
		}

		body
		{

			background: #FFF1F1;

		}

	</style>

	<title>Panic Button</title>

</head>
<body>

	<div class="img-fluid rounded" >

		<p><a href="#" class="alert-link"> <button type="button" class="btn btn-danger">Mensaje de emergencia</button></a></p>
		<p><button type="button" class="btn btn-danger">Llamada de emergencia</button></p>
		<p><button type="button" class="btn btn-danger">Correo de emergencia</button></p>

	</div>

</body>
</html>