div
{
	
	width: 30%;
	margin: 10% 30%;
	background: #B5B2ED;

}

h1
{

	margin: 10px 0 0 50%;
	
}

.btn
{

	margin: 2rem 7rem;
	font-size: 20px;
}

body
{

	background: #FFF1F1;

}

.mine-hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}